.Wrapper {
  text-align: center;
}

.Container {
  display: inline-flex;
  flex-direction: row;
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
  max-height: 500px;
  margin-left: auto;
}

.NedbetalingsHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50vw;
  word-break: break-all;
}

input {
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
}

button {
  background-color: #282c34;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 10px;
  padding: 5px;
  border-radius: 0 8px 0 8px;
}

button:hover {
  background-color: #09d3ac;
  color: #282c34;
}

button:focus {
  outline: 0;
}

.NedbetalingsÅrContainer {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 5px 5px;
}

.NedbetalingsÅr {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, auto);
}

.NedbetalingsÅr button {
  font-size: 24px;
  padding: 10px;
}

.BetalingsPlan {
  display: flex;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
}

.FeilMelding {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #282c34;
  color: white;
  border-radius: 0 0 0 0;
}

tr:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 600px) {
  .Container {
    display: flex;
    flex-direction: column;
  }

  .NedbetalingsHeader {
    max-width: 100%;
  }

  .NedbetalingsÅrContainer {
    flex-direction: column;
  }

  .BetalingsPlan {
    margin: 0;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    border-bottom: 1px solid black;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Dato";
    height: 100%;
    line-height: 300%;
  }
  td:nth-of-type(2):before {
    content: "Restgjeld";
    height: 100%;
    line-height: 300%;
  }
  td:nth-of-type(3):before {
    content: "Innbetaling";
    height: 100%;
    line-height: 300%;
  }
  td:nth-of-type(4):before {
    content: "Gebyr";
    height: 100%;
    line-height: 300%;
  }
  td:nth-of-type(5):before {
    content: "Renter";
    height: 100%;
    line-height: 300%;
  }
  td:nth-of-type(6):before {
    content: "Total";
    height: 100%;
    line-height: 300%;
  }
}
